/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.percent-progress { background: yellow; };
.active-tasks { background: indigo; }
.suspended-tasks { background: thistle; }
.completed { background: indianred; }
.footer { background: red; }

body {
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-rows: 20% 25% 10% 40% 5%;
}
    /*grid-template-areas: 
        "my-heading my-heading my-heading"
        "my-form my-form my-form"
        "percent-progress percent-progress percent-progress"
        "active-tasks suspended-tasks completed"
        "footer footer footer"; */
    
.my-heading {
    grid-column-start: span 3;
    grid-row-start: 1;        
}

.my-form {
    grid-column-start: span 3;
    grid-row-start: 2;         
}

.percent-progress {
    grid-column-start: span 3;
    grid-row-start: 3;         
}

.active-tasks {
    grid-column-start: 1; 
    grid-row-start: 4;      
}

.suspended-tasks {
    grid-column-start: 2;  
    grid-row-start: 4;     
}
    
.completed {
    grid-column-start: 3;
    grid-row-start: 4;      
}
   
footer {
    grid-column-start: span 3; 
    grid-row-start: 5;     
}

/* .my-heading { grid-area: my-heading; }
.my-form { grid-area: my-form; }
.percent-progress { grid-area: percent-progress; };
.active-tasks { grid-area: active-tasks; }
.suspended-tasks { grid-area: suspended-tasks; }
.completed { grid-area: completed; }
.footer { grid-area: footer; } */


.my-heading {
    background-color: blueviolet;
    text-align: center;
    margin: 0;
}

.my-form {
    background-color: red;
    display: flex;
    align-items: center;
    flex-flow: column;
}

/* Add some margins for each label */
.my-form label {
    margin: 20px 10px 20px 0;
    font-size: larger;
  }
  
  /* Style the input fields */
  .my-form input {
    vertical-align: middle;
    margin: 0 10px 20px 0;
    padding: 5px;
    width: 75vw;
    background-color: #fff;
    border: 2px solid #ddd;
  }
  
  /* Style the submit button */
  .my-form button {
    padding: 10px 30px;
    background-color: dodgerblue;
    border: 2px solid #ddd;
    border-radius: 5px;
    color: white;
  }
  
.my-form button:hover {
   background-color: lightgreen;
  }

.percent-progress {
    align-content: center;
    display: flex;
    grid-column-start: span 3;
}

.percent-progress {
    background-color: blueviolet;
    text-align: center;
    margin: 100px;
}