* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#progress { background: yellow; }
#new-tasks { background: indigo; }
#halted-tasks { background: thistle; }
#finished-tasks { background: indianred; }
#footer { background: red; }


body {
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-rows: auto auto auto auto auto;
}

.my-heading {
    grid-column-start: span 3;
    grid-row-start: 1;        
}

.my-form {
    grid-column-start: span 3;
    grid-row-start: 2;         
}

#progress {
    grid-column-start: span 3;
    grid-row-start: 3;         
}

#new-tasks {
    grid-column-start: 1; 
    grid-row-start: 4;      
}

#halted-tasks {
    grid-column-start: 2;  
    grid-row-start: 4;     
}
    
#finished-tasks {
    grid-column-start: 3;
    grid-row-start: 4;      
}
   
footer {
    grid-column-start: span 3; 
    grid-row-start: 5;     
}

.my-heading {
    background-color: blueviolet;
    text-align: center;
    margin: 0;
}

.my-form {
    background-color: red;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-bottom: 20px;
}

/* Add some margins for each label */
.my-form label {
    margin: 20px 10px 20px 0;
    font-size: larger;
  }
  
  /* Style the input fields */
  .my-form input {
    vertical-align: middle;
    margin: 0 10px 20px 0;
    padding: 5px;
    width: 75vw;
    background-color: #fff;
    border: 2px solid #ddd;
  }
  
  /* Style the submit button */
  #button {
    padding: 10px 30px;
    width: 25vw;
    background-color: dodgerblue;
    border: 2px solid #ddd;
    border-radius: 5px;
    color: white;
  }
  
#button:hover {
   background-color: lightgreen;
  }

#progress {
    background-color: blueviolet;
    text-align: center;
    margin: 50px;
}